.header {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  background-color: lightcyan;
  padding: 10px;
  justify-content: center;
}

.content_image {
  background-color: lightgreen;
  background-image: url(onepiece.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  height: 200px;
  width: 200px;
}

.content_information {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_information_top {
  height: 50%;
  tex-align: center;
  background-color: lightskyblue;
  margin-bottom: 5px;
}

.content_information_bottom {
  margin-top: 5px;
  height: 50%;
  background-color: lightyellow;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: lightcoral;
}